*.swp
*.user
*.user.*
.qmake.stash
debug
release
Makefile*
tmp
*_plugin_import.cpp
build-*
ui_*.h
*.a *.dll
*.exe
*.tmp
.classpath
.gradle
.project
.settings
bin
build
gradle
gradlew
gradlew.bat
.idea
venv
__pycache__
dist
*.spec
*.egg-info