*.a
*.dll
*.egg-info
*.exe
*.spec
*.swp
*.tmp
*.user
*.user.*
*_plugin_import.cpp
.classpath
.gradle
.idea
.project
.qmake.stash
.settings
__pycache__
bin
build
build-*
debug
dist
gradle
gradlew
gradlew.bat
Makefile*
release
tmp
ui_*.h
venv

